<!DOCTYPE html>
<html>
    <head>
        <title>Portal Acadêmico</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <main>
            <div class="login-option">
                <a href="./login.php">
                    <button class="login-option-item">ENTRAR</button>
                </a>
                <h4 class="login-option-item">Já Possui Conta?</h4>
            </div>
            
            <div class="content">
                <a href="./index.html" class="logo">
                    <i class="fas fa-graduation-cap fa-6x"></i>
                    <h1>APortal</h1>
                </a>
                <h3>A solução para alunos e professores gerenciarem suas aulas.</h3>
                <a href="./signup.php">
                    <button type="button">CADASTRAR-SE</button>            
                </a>
            </div>
        </main>
    </body>
</html>
